:root {
    --color-white: #fefefe;
    --color-primary: #5c6ac4;
    --color-slate: #ced1d1;
    --color-slater: #adadad;
    --color-dark: #888b8e;
    --color-blue: #1a73e8;
    --color-secondary: #ecc94b;
    --color-bluehero: #e8f0fe;
    --color-goldhero: #feefc3;
    --color-greenhero: #e6f4ea;
    --color-darkerhero: #3c4043;
    --color-darkhero: #5f6368;
    --color-darktext: #3c4043;
    --color-orange: #f29900;
}

@tailwind base;
@tailwind components;
@tailwind utilities;